In [2]:
import pandas as pd
import numpy as np

In [3]:
df_prod_train = pd.read_csv("Datos cultivos productivos\Fases producción v02 cultivo final.csv",sep=";", encoding="ANSI")
df_prod_train

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-23 06:30:00,"82,4","17,3","91,2","1,84E+08",17825,NaN,NaN,"1747,9","6,0",NaN,NaN,NaN
1,23020,1,NaN,14616,2023-03-21 07:30:00,2023-03-23 06:30:00,"80,4","18,8","91,2","1,82E+08",14246,NaN,NaN,"1676,2","6,6",NaN,NaN,NaN
2,23021,1,NaN,13170,2023-03-22 07:30:00,2023-03-24 06:30:00,"66,4","16,2","86,4","2,48E+08",17825,NaN,NaN,"1928,5","8,1",NaN,NaN,NaN
3,23022,1,NaN,14614,2023-03-22 07:30:00,2023-03-24 06:30:00,"85,6","18,5","83,2","2,30E+08",12912,NaN,NaN,"1782,8","5,9",NaN,NaN,NaN
4,23023,1,NaN,14615,2023-03-28 07:27:00,2023-03-30 10:00:00,"77,6","17,1","74,4","1,33E+08",17825,"26,6","20,9","1861,8","3,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00,2024-03-18 08:23:00,84,19,73,"1,65E+08",12912,31,17,"1342,8","4,9",NaN,NaN,NaN
148,24050,1,NaN,14614,2024-03-23 08:57:00,2024-03-25 08:28:00,84,18,68,"1,52E+08",6379,29,27,"1422,8","3,7",NaN,NaN,NaN
149,24051,1,NaN,13169,2024-03-23 08:57:00,2024-03-25 08:33:00,84,18,81,"1,61E+08",12912,33,19,"1486,6","5,5",NaN,NaN,NaN
150,24052,2,24050.0,14614,2024-03-25 13:28:00,2024-03-27 08:51:00,86,17,69,"1,48E+08",14246,24,18,"1857,3","6,0",NaN,NaN,NaN
151,24053,2,24051.0,13169,2024-03-25 12:27:00,2024-03-27 08:27:00,87,17,79,"1,48E+08",12912,27,19,"1784,1","7,2",NaN,NaN,NaN

In [69]:
df_prod_train = df_prod_train.iloc[:,:15]
df_prod_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   LOTE                          152 non-null    int64
 1   Orden en el encadenado        152 non-null    int64
 2   LOTE parental                 22 non-null     float64
 3   ID Bioreactor                 152 non-null    int64
 4   Fecha/hora inicio             152 non-null    datetime64[ns]
 5   Fecha/hora fin                152 non-null    datetime64[ns]
 6   Volumen de inóculo utilizado  147 non-null    float64
 7   Turbidez inicio cultivo       152 non-null    float64
 8   Turbidez fin cultivo          152 non-null    float64
 9   Viabilidad final cultivo      151 non-null    float64
 10  ID Centrífuga                 152 non-null    int64
 11  Centrifugación 1 turbidez     148 non-null    float64
 12  Centrifugación 2 turbidez     143 non-null    float64
 13  Producto 1                    152 non-null    float64
 14  Producto 2                    152 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(4)
memory usage: 17.9 KB

In [70]:
df_prod_train = df_prod_train.applymap(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

C:\Users\Victor\AppData\Local\Temp\ipykernel_25444\2367302979.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_prod_train = df_prod_train.applymap(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

In [71]:
df_prod_train["Fecha/hora inicio"] = pd.to_datetime(df_prod_train["Fecha/hora inicio"])
df_prod_train["Fecha/hora fin"] = pd.to_datetime(df_prod_train["Fecha/hora inicio"])

In [72]:
df_prod_train[df_prod_train.select_dtypes(include=['object']).columns] = df_prod_train.select_dtypes(include=['object']).apply(lambda col: pd.to_numeric(col, errors='coerce'))

In [73]:
df_prod_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   LOTE                          152 non-null    int64
 1   Orden en el encadenado        152 non-null    int64
 2   LOTE parental                 22 non-null     float64
 3   ID Bioreactor                 152 non-null    int64
 4   Fecha/hora inicio             152 non-null    datetime64[ns]
 5   Fecha/hora fin                152 non-null    datetime64[ns]
 6   Volumen de inóculo utilizado  147 non-null    float64
 7   Turbidez inicio cultivo       152 non-null    float64
 8   Turbidez fin cultivo          152 non-null    float64
 9   Viabilidad final cultivo      151 non-null    float64
 10  ID Centrífuga                 152 non-null    int64
 11  Centrifugación 1 turbidez     148 non-null    float64
 12  Centrifugación 2 turbidez     143 non-null    float64
 13  Producto 1                    152 non-null    float64
 14  Producto 2                    152 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(4)
memory usage: 17.9 KB

In [74]:
df_cin_cultfin = pd.read_csv("Datos Cinéticos\Cinéticos IPC cultivos finales.csv", sep=";", encoding="ANSI")
df_cin_cultfin

,Lote,Fecha,Turbidez,Viabilidad,Glucosa g/L,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,23019,21/03/2023 7:30,"17,28","8,33E+06","1,74",NaN,NaN,NaN,NaN,NaN,NaN
1,23019,21/03/2023 11:00,"17,28","1,40E+07","1,97",NaN,NaN,NaN,NaN,NaN,NaN
2,23019,21/03/2023 14:00,"18,4","1,69E+07","1,92",NaN,NaN,NaN,NaN,NaN,NaN
3,23019,21/03/2023 18:00,"19,76","2,47E+07","1,88",NaN,NaN,NaN,NaN,NaN,NaN
4,23019,22/03/2023 7:00,"39,12","1,00E+08","1,57",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN

In [75]:
df_cin_cultfin = df_cin_cultfin.iloc[:1911,:5]
df_cin_cultfin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1911 entries, 0 to 1910
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Lote         1911 non-null   object
 1   Fecha        1908 non-null   object
 2   Turbidez     1901 non-null   object
 3   Viabilidad   1909 non-null   object
 4   Glucosa g/L  1583 non-null   object
dtypes: object(5)
memory usage: 74.8+ KB

In [76]:
df_cin_cultfin = df_cin_cultfin[~df_cin_cultfin["Lote"].str.contains("P23213", na=False)]
df_cin_cultfin = df_cin_cultfin[~df_cin_cultfin["Lote"].str.contains("P23243", na=False)]
df_cin_cultfin = df_cin_cultfin[~df_cin_cultfin["Lote"].str.contains("P23273", na=False)]
df_cin_cultfin = df_cin_cultfin[~df_cin_cultfin["Lote"].str.contains("P23363", na=False)]
df_cin_cultfin = df_cin_cultfin[~df_cin_cultfin["Lote"].str.contains("P23462", na=False)]
df_cin_cultfin = df_cin_cultfin[~df_cin_cultfin["Lote"].str.contains("P24053", na=False)]

In [77]:
df_cin_cultfin["Lote"] = pd.to_numeric(df_cin_cultfin["Lote"])

In [78]:
df_cin_cultfin["Fecha"] = pd.to_datetime(df_cin_cultfin["Fecha"], dayfirst=True)

In [79]:
df_cin_cultfin = df_cin_cultfin.applymap(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

C:\Users\Victor\AppData\Local\Temp\ipykernel_25444\1399055482.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cin_cultfin = df_cin_cultfin.applymap(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

In [80]:
df_cin_cultfin[["Turbidez","Viabilidad","Glucosa g/L"]] = df_cin_cultfin[["Turbidez","Viabilidad","Glucosa g/L"]].apply(lambda col: pd.to_numeric(col, errors='coerce'))

In [81]:
df_cin_cultfin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1843 entries, 0 to 1910
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Lote         1843 non-null   int64
 1   Fecha        1840 non-null   datetime64[ns]
 2   Turbidez     1833 non-null   float64
 3   Viabilidad   1841 non-null   float64
 4   Glucosa g/L  1524 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 86.4 KB

In [82]:
df_cin_cultfin

       Lote               Fecha  Turbidez   Viabilidad  Glucosa g/L
0     23019 2023-03-21 07:30:00     17.28    8330000.0        1.740
1     23019 2023-03-21 11:00:00     17.28   14000000.0        1.970
2     23019 2023-03-21 14:00:00     18.40   16900000.0        1.920
3     23019 2023-03-21 18:00:00     19.76   24700000.0        1.880
4     23019 2023-03-22 07:00:00     39.12  100000000.0        1.570
...     ...                 ...       ...          ...          ...
1906  24110 2024-07-04 15:30:00     58.40   80500000.0        1.584
1907  24110 2024-07-04 19:30:00     69.76  102000000.0        1.248
1908  24110 2024-07-05 06:30:00    100.80  153000000.0        0.600
1909  24110 2024-07-05 08:00:00    104.80  151000000.0        0.520
1910  24110 2024-07-05 10:10:00    104.80  157000000.0        0.592

[1843 rows x 5 columns]

In [83]:
df_cin_cultfin = df_cin_cultfin.dropna(subset=['Lote', 'Viabilidad'])

In [84]:
df_cin_cultfin

       Lote               Fecha  Turbidez   Viabilidad  Glucosa g/L
0     23019 2023-03-21 07:30:00     17.28    8330000.0        1.740
1     23019 2023-03-21 11:00:00     17.28   14000000.0        1.970
2     23019 2023-03-21 14:00:00     18.40   16900000.0        1.920
3     23019 2023-03-21 18:00:00     19.76   24700000.0        1.880
4     23019 2023-03-22 07:00:00     39.12  100000000.0        1.570
...     ...                 ...       ...          ...          ...
1906  24110 2024-07-04 15:30:00     58.40   80500000.0        1.584
1907  24110 2024-07-04 19:30:00     69.76  102000000.0        1.248
1908  24110 2024-07-05 06:30:00    100.80  153000000.0        0.600
1909  24110 2024-07-05 08:00:00    104.80  151000000.0        0.520
1910  24110 2024-07-05 10:10:00    104.80  157000000.0        0.592

[1841 rows x 5 columns]

In [85]:
df_cin_cultfin_maxvia = df_cin_cultfin.loc[df_cin_cultfin.groupby('Lote')['Viabilidad'].idxmax()]
df_cin_cultfin_maxvia

       Lote               Fecha  Turbidez    Viabilidad  Glucosa g/L
9     23019 2023-03-23 06:30:00      91.2  1.850000e+08        0.210
16    23020 2023-03-22 15:30:00      61.6  4.040000e+09        1.430
30    23021 2023-03-24 06:30:00      86.4  2.450000e+08        0.280
41    23022 2023-03-24 06:30:00      83.2  2.290000e+08        0.370
53    23023 2023-03-30 12:00:00      81.6  2.120000e+08        0.460
...     ...                 ...       ...           ...          ...
1880  24105 2024-07-04 08:30:00      84.8  1.740000e+08        0.784
1888  24106 2024-07-03 08:00:00      84.0  1.630000e+08        0.560
1891  24107 2024-07-03 06:30:00      88.0  1.830000e+08        0.672
1901  24109 2024-07-05 10:10:00      94.4  1.960000e+08        0.440
1910  24110 2024-07-05 10:10:00     104.8  1.570000e+08        0.592

[219 rows x 5 columns]

In [91]:
df_cin_cultfin_maxvia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 219 entries, 9 to 1910
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Lote         219 non-null    int64
 1   Fecha        219 non-null    datetime64[ns]
 2   Turbidez     216 non-null    float64
 3   Viabilidad   219 non-null    float64
 4   Glucosa g/L  189 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 10.3 KB

In [86]:
df_prod_cin_train = pd.merge(df_prod_train, df_cin_cultfin_maxvia, left_on='LOTE', right_on='Lote')
df_prod_cin_train

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,Lote,Fecha,Turbidez,Viabilidad,Glucosa g/L
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-21 07:30:00,82.4,17.3,91.2,184000000.0,17825,NaN,NaN,1747.9,6.0,23019,2023-03-23 06:30:00,91.20,1.850000e+08,0.210
1,23020,1,NaN,14616,2023-03-21 07:30:00,2023-03-21 07:30:00,80.4,18.8,91.2,182000000.0,14246,NaN,NaN,1676.2,6.6,23020,2023-03-22 15:30:00,61.60,4.040000e+09,1.430
2,23021,1,NaN,13170,2023-03-22 07:30:00,2023-03-22 07:30:00,66.4,16.2,86.4,248000000.0,17825,NaN,NaN,1928.5,8.1,23021,2023-03-24 06:30:00,86.40,2.450000e+08,0.280
3,23022,1,NaN,14614,2023-03-22 07:30:00,2023-03-22 07:30:00,85.6,18.5,83.2,230000000.0,12912,NaN,NaN,1782.8,5.9,23022,2023-03-24 06:30:00,83.20,2.290000e+08,0.370
4,23023,1,NaN,14615,2023-03-28 07:27:00,2023-03-28 07:27:00,77.6,17.1,74.4,133000000.0,17825,26.6,20.9,1861.8,3.0,23023,2023-03-30 12:00:00,81.60,2.120000e+08,0.460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00,2024-03-16 09:22:00,84.0,19.0,73.0,165000000.0,12912,31.0,17.0,1342.8,4.9,24049,2024-03-18 06:45:00,69.20,1.660000e+08,0.856
148,24050,1,NaN,14614,2024-03-23 08:57:00,2024-03-23 08:57:00,84.0,18.0,68.0,152000000.0,6379,29.0,27.0,1422.8,3.7,24050,2024-03-25 06:40:00,67.20,1.730000e+08,1.016
149,24051,1,NaN,13169,2024-03-23 08:57:00,2024-03-23 08:57:00,84.0,18.0,81.0,161000000.0,12912,33.0,19.0,1486.6,5.5,24051,2024-03-25 06:40:00,78.64,1.850000e+08,0.792
150,24052,2,24050.0,14614,2024-03-25 13:28:00,2024-03-25 13:28:00,86.0,17.0,69.0,148000000.0,14246,24.0,18.0,1857.3,6.0,24052,2024-03-27 08:30:00,69.04,1.480000e+08,1.144
151,24053,2,24051.0,13169,2024-03-25 12:27:00,2024-03-25 12:27:00,87.0,17.0,79.0,148000000.0,12912,27.0,19.0,1784.1,7.2,24053,2024-03-27 07:00:00,80.00,1.860000e+08,0.712

In [ ]:
df_prod_cin_train = df_prod_cin_train.drop("Lote", axis=1)

In [90]:
df_prod_cin_train

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,Fecha,Turbidez,Viabilidad,Glucosa g/L
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-21 07:30:00,82.4,17.3,91.2,184000000.0,17825,NaN,NaN,1747.9,6.0,2023-03-23 06:30:00,91.20,1.850000e+08,0.210
1,23020,1,NaN,14616,2023-03-21 07:30:00,2023-03-21 07:30:00,80.4,18.8,91.2,182000000.0,14246,NaN,NaN,1676.2,6.6,2023-03-22 15:30:00,61.60,4.040000e+09,1.430
2,23021,1,NaN,13170,2023-03-22 07:30:00,2023-03-22 07:30:00,66.4,16.2,86.4,248000000.0,17825,NaN,NaN,1928.5,8.1,2023-03-24 06:30:00,86.40,2.450000e+08,0.280
3,23022,1,NaN,14614,2023-03-22 07:30:00,2023-03-22 07:30:00,85.6,18.5,83.2,230000000.0,12912,NaN,NaN,1782.8,5.9,2023-03-24 06:30:00,83.20,2.290000e+08,0.370
4,23023,1,NaN,14615,2023-03-28 07:27:00,2023-03-28 07:27:00,77.6,17.1,74.4,133000000.0,17825,26.6,20.9,1861.8,3.0,2023-03-30 12:00:00,81.60,2.120000e+08,0.460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00,2024-03-16 09:22:00,84.0,19.0,73.0,165000000.0,12912,31.0,17.0,1342.8,4.9,2024-03-18 06:45:00,69.20,1.660000e+08,0.856
148,24050,1,NaN,14614,2024-03-23 08:57:00,2024-03-23 08:57:00,84.0,18.0,68.0,152000000.0,6379,29.0,27.0,1422.8,3.7,2024-03-25 06:40:00,67.20,1.730000e+08,1.016
149,24051,1,NaN,13169,2024-03-23 08:57:00,2024-03-23 08:57:00,84.0,18.0,81.0,161000000.0,12912,33.0,19.0,1486.6,5.5,2024-03-25 06:40:00,78.64,1.850000e+08,0.792
150,24052,2,24050.0,14614,2024-03-25 13:28:00,2024-03-25 13:28:00,86.0,17.0,69.0,148000000.0,14246,24.0,18.0,1857.3,6.0,2024-03-27 08:30:00,69.04,1.480000e+08,1.144
151,24053,2,24051.0,13169,2024-03-25 12:27:00,2024-03-25 12:27:00,87.0,17.0,79.0,148000000.0,12912,27.0,19.0,1784.1,7.2,2024-03-27 07:00:00,80.00,1.860000e+08,0.712

In [ ]:
dfmerge_prod_cin_ndX = dfmerge_prod_cin_nd.drop(["Producto 1"],axis='columns')
y = dfmerge_prod_cin_nd["Producto 1"]

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Suponiendo que ya tienes tus datos en X e y
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir los modelos y los hiperparámetros a ajustar
models = {
    'Linear Regression': LinearRegression(),
    'Elastic Net': ElasticNet(),
    'Random Forest': RandomForestRegressor()
}

# Hiperparámetros para cada modelo
param_grid = {
    'Linear Regression': {},
    'Elastic Net': {'alpha': np.logspace(-3, 3, 7), 'l1_ratio': np.linspace(0, 1, 5)},
    'Random Forest': {'n_estimators': [50, 75], 'max_depth': [3], 'min_samples_split': [2, 5]}
}

# Realizar el Grid Search para cada modelo
best_models = {}
for name, model in models.items():
    grid_search = GridSearchCV(model, param_grid[name], cv=5, scoring='neg_mean_squared_error', n_jobs=-1)
    grid_search.fit(X_train, y_train)
    
    best_models[name] = grid_search.best_estimator_
    print(f"{name} Best Parameters: {grid_search.best_params_}")
    print(f"{name} Best CV MSE: {-grid_search.best_score_}")

# Evaluar los modelos en el conjunto de prueba
for name, model in best_models.items():
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)  # Calcular R²
    print(f"{name} Test MSE: {mse}, R²: {r2}")